@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$navyPurple: #090325;
$lightNP: #2a2446;
$white: #ffffff;
$neonblue: #2735fd;
$neonpurple: #7017fc;
h1 {
  font-family: 'Righteous', cursive;
  color: $white;
  font-size: 70px;
  margin: 20px 0px 20px 0px ;
}
p {
  font-family: 'Righteous', cursive;
  color: $white;
  display: inline;
  font-size: 25px;
  text-align: left;
  margin: 0px;
}
.p-front{
  color: $neonpurple;
}
.App{
  background-color: $navyPurple;
  height: 300vh;
}
.hero{
  height: 100vh;
  background-image: url('../../assets/dylanpageHero.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header {
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: 12px;
  padding: 28vh 0vh 0vh 40vh;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 165px;
}
.navText{
  margin-right: 30px;
  margin-left: 30px;
}
.wrapper{
  display: flex;
  box-sizing: content-box;
  height: 30px;
  width:475px;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0px 25px $lightNP;

}
.flex{
  display: flex;
}
.words {
  text-align: left;
  overflow: hidden;
}
span{
  display: block;
  padding-left: 10px;
  height: 100%;
  color: $lightNP;
  animation: spin_words 7s infinite;
}
@keyframes spin_words{
  10%{
    transform: translateY(-112%);
  }
  25%{
    transform: translateY(-100%);
  }
  35%{
    transform: translateY(-212%);
  }
  50%{
    transform: translateY(-200%);
  }
  60%{
    transform: translateY(-312%);
  }
  75%{
    transform: translateY(-300%);
  }
  85%{
    transform: translateY(-412%);
  }
  100%{
    transform: translateY(-400%);
  }

}
